.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 6px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.98);
}
.navbar-toggler-right {
    position: absolute;
    right: 0rem;
}
.navbar-toggler-icon {
  color:white !important;
}
a {
    font-size: medium;
}
img.navbar-brand {
    float: left;
    font-size: 18px;
    line-height: 20px;
}