<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
    <div>
        <div class="col-xs-10 col-xs-offset-1"><h1><b>Device Management</b></h1></div>  
        <div><button class="btn btn-primary col-xs-1 " style="background-color:green;font-size:1.7em"><span [routerLink]="['/addDevice']"><b>ADD</b></span></button>
    </div>
      <div class="table-responsive tableprop">
          
<table  style="width:100%" border="1" >
  <tr>
  <th class="col-xs-2">Name</th>
  <th class="col-xs-2">Device Id</th>
  <th class="col-xs-2">Address</th>
  <th class="col-xs-2">Co-ordinates</th>
  <th class="col-xs-2">Device Status</th>
  <th class="col-xs-2">Actions</th>
  </tr>
  <tr  [class]="tablerow" *ngFor="let item of results;let i=index">
    <td>{{item.customer_name}}</td>
    <td style="padding:0% 1% 0% 1%">{{item.device_id}}</td>
    <td>{{item.address}}</td>
    <td>{{item.coordinates}}</td>
    <td [style.color]="item.color">{{item.device_status}}<br />{{item.display_date}}</td>
    <td>
      <div class="col-xs-4" (click)=edit(i) style="text-align:right"><a><img style="min-width:20px" width="40%" src={{editimg}}   alt="edit"></a></div>
      <div class="col-xs-4" (click)=deletefromtable(i) style="text-align:right"><a><img style="min-width:20px" width="40%" src={{delete}} alt="delete"></a></div>
      <div class="col-xs-4"  style="text-align:left"><a><img style="min-width:20px" width="80%" src={{setting}}  alt="Settings"></a></div>
    </td>
  </tr>
</table>
  </div>
</div>
